body {
  font-family: "Roboto", sans-serif;
  color: rgb(10%, 10%, 10%);
  background: darken(white, 10%);
  margin: 50px;
}

#text {
  flex-grow: 8;
  align-content: stretch;
  font-size: 16px;
  padding: 10px;
  border: none;
  border-radius: 5px;
}

#submit {
  flex-grow: 1;
  font-size: inherit;
  padding: 10px;
  border-left-style: solid;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border-right-style: none; border-top-style: none; border-bottom-style: none;
  border-color: #888888;
  background-color: white;
}

#inputbar {
  display: flex;
  justify-content: space-between;
  align-content: stretch;
  width: 100%;
  margin-bottom: 5px;
  border-radius: 5px;
  border: 1px solid;
  border-color: #888888;
  background-color: white;
}

#note {
  position: absolute;
  min-width: 200px;
  min-height: 120px;
  background-color: white;
  font-size: 1.5em;
  color: black;
  box-shadow: 5px 5px 5px #888888;
}

#topbar {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
}

#editinput {
  display: inline-block;
  width: 97%;
  height: 100%;
}

#textarea {
  width: 97%;
  max-width: 97%;
}
